<header>
  <h1>Angular Router Sample</h1>
  <nav>
    <a class="button" routerLink="/crisis-center" routerLinkActive="activebutton">Crisis Center</a>
    <a class="button" routerLink="/heroes-dashboard" routerLinkActive="activebutton">Heroes</a>
    <a class="button" routerLink="/admin" routerLinkActive="activebutton">Admin</a>
    <a class="button" [routerLink]="[{outlets: {popup: ['compose']}}]">Contact</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
  <router-outlet name="popup"></router-outlet>
</main>
